{% extends 'base.html' %}

{% load static %}

{% block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock css %}

{% block content %}

<div id="order">
  <header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white-50">
            <h3 class="display-4 fw-bolder" style="font-size: 20px;">                            
                Commande en cours ...                           
            </h3>
        </div>
    </div>
  </header>
  {% if request.user.is_authenticated %}
  <div class="group">
    <div class="order-cont">
      <div class="card w-100 mb-3">
        <div class="card-body" style="padding: 40px;">
          <h5 class="card-title" style="text-align: center;">Vos coordonnées</h5>
            <form class="row g-4" style="font-size: 15px; margin-top: 10px;">
              {% for user in user_form %}
              <div class="col-md-3 input-group-sm">
                <label for="validationServer01" class="form-label">Prénom</label>
                <input type="text" class="form-control" id="validationServer01" value="{{ user.first_name }}">
              </div>            
              <div class="col-md-3 input-group-sm">
                <label for="validationServer02" class="form-label">Nom de famille</label>
                <input type="text" class="form-control" id="validationServer02" value="{{ user.last_name }}">
              </div>
              <div class="col-md-4 input-group-sm">
                <label for="validationServerUsername" class="form-label">Adresse Email</label>
                  <input type="text" class="form-control" id="validationServerUsername" value="{{ user.username }}">
              </div>
              {% endfor %}
              {% for profile in profile_form %}
              <div class="col-md-2 input-group-sm">
                  <label for="validationServer01" class="form-label">N° Téléphone</label>
                  <input type="text" class="form-control" id="validationServer01" value="{{ profile.phoneNumber1 }}">
              </div>
              <div class="col-md-6 input-group-sm">
                <label for="validationServer03" class="form-label">Adresse de livraison</label>
                <input type="text" class="form-control" id="validationServer03" value="{{ profile.address_primary}}">
              </div>
              <div class="col-md-6 input-group-sm">
                <label for="validationServer03" class="form-label">Complément adresse</label>
                <input type="text" class="form-control" id="validationServer03" value="{{ profile.complement_address_primary}}">
              </div>
              <div class="col-md-2 input-group-sm">
                <label for="validationServer04" class="form-label">Ville</label>
                <!--<select class="form-select" id="validationServer04" value="{{ profile.city_primary}}">
                  <option selected disabled value="">Choisisser...</option>
                  <option>...</option>
                </select>-->
                <input type="text" class="form-control" id="validationServer03" value="{{ profile.city_primary}}">
              </div>
              <div class="col-md-2 input-group-sm">
                <label for="validationServer05" class="form-label">Code Postal</label>
                <input type="text" class="form-control" id="validationServer05" value="{{ profile.postal_code_primary}}">    
              </div>
              <div class="modif" style="text-align: center;">
                <p>Si vos coordonnées sont obsolètes, merci de les modifier avant de commander.<span class="btn btn-secondary" style="margin-left: 20px;"><a href="{% url 'edit' %}#nav">Modifier</a></span></p>
              </div>
              {% endfor %}
            </form>
            {% endif %}
        </div>
      </div>
    </div>
    <div class="order-product" >
      <div class="card w-100 mb-3" style="min-height: 350px;">
        <div class="card-body" style="align-self: center;">
          <h5 class="card-title" style="padding: 10px; text-align: center; margin-top: 10px;">Vos produits</h5>
          <div style="padding: 20px;">
              {% for item in cart %}
                <p class="card-text" style="font-size: 15.5px;">{{ item.quantity }} x {{ item.product.name }} <span>: {{ item.total_price }} €</span></p>
              {% endfor %}
              <p class="card-text" style="text-align:left; font-size: 15px;">Frais de port: 10,50€</p>
              <p class="card-text" style="text-align:left; font-size: 15px;">TOTAL A PAYER: {{ cart.get_total_price }} €</p>
          </div>                
          <div class="but" style="margin-top: 20px; display: flex; justify-content: center;">
              <form method="post">
                {% csrf_token %}
                  <p style="font-size: 15px;">
                      <input type="submit" class="btn btn-secondary" value="Reglement" style="font-size: 15px;">                      
                  </p>                  
              </form>              
          </div>        
        </div>
      </div>
    </div>  
  </div>    
</div>

{% endblock content %}