{% extends "base.html" %}

{% load static %}

{% block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock css %}


{% block content %}
<div id="paiement-canceled">
    <header class="bg-dark py-1">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white-50">
                <h3 class="display-4 fw-bolder" style="font-size: 20px;">                            
                    Processus de paiement ...                           
                </h3>
            </div>
        </div>
    </header>
    <div class="card w-50" style="margin: 40px auto 40px auto;">
        <div class="card-body">
          <h3 class="card-title text-center">Votre reglement n'a pas aboutit ...</h3>
          <p class="card-text text-center" style="font-size: 15px;">Merci de nous <a href="{% url 'contact' %}#nav">contacter</a> en cas de problème</p>
        </div>
    </div>
    
</div>


{% endblock %}