{% extends 'base.html' %}

{% load static %}

{% block css %}
    <!-- Integration du fichier style.css -->
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'css/style.css' %}">
{% endblock css %}


{% block content %}

        <!-- Header-->
        <div  id="py-5" style="margin-bottom: 40px;">
            <header class="bg-dark py-1">
                <div class="container px-4 px-lg-5 my-5">
                    <div class="text-center text-white-50">
                        <h3 class="display-4 fw-bolder" style="font-size: 20px;">                            
                            {{ category }}                             
                        </h3>
                    </div>
                </div>
            </header>
            <!-- Section-->
            <section id="cat-prod">
    
                <div class="container px-4 px-lg-5 mt-5">
                
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                            
                    {% for product in products %}
                        {% if not product.available %}
                        
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Sale badge-->
                                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
    
                                <!-- Product image-->
                                <img class="card-img-top" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'assets/no_image.png' %}{% endif %}">                               
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ product.name }}</h5>
                                        <!-- Dispo -->
                                        <div class="d-flex justify-content-center small text-warning mb-2">
                                            <div class="bi-star-fill"></div>
                                            &nbsp;&nbsp;Non Disponible !&nbsp;&nbsp;
                                            <div class="bi-star-fill"></div>
                                        </div>
    
                                        <!-- Product price-->
                                        <strike>
                                        {{ product.price }} €
                                        </strike>
                                        &nbsp;
    
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        <a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id  %}#nav">Voir Produit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
    
    
                        {% else %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'assets/no_image.png' %}{% endif %}"> 
                                
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ product.name }}</h5>
                                        <!-- Dispo -->
                                        <div class="d-flex justify-content-center small text-warning mb-2">
                                            <div class="bi-star-fill"></div>
                                            &nbsp;&nbsp;Disponible!&nbsp;&nbsp;
                                            <div class="bi-star-fill"></div>
                                        </div>
                                        <!-- Product price-->
                                        {{ product.price }} €
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}#product">Voir Produit</a></div>
                                </div>
                            </div>
                        </div>
    
                            {% endif %}
                        {% endfor %}
    
    
                </div>
            </section>
        </div>
        

{% endblock content %}