{% extends "base.html" %}

{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock css %}


{% block content %}

<div id="dashboard">
  <header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white-50">            
            <h3 class="display-4 fw-bolder" style="font-size: 20px;">
                Bienvenue {{ user.first_name }}, sur la gestion de votre compte 
            </h3>
        </div>
    </div>
  </header>
  <div class="group">    
    <div class="block">      
      <div class="menu">
        <h3 style="margin-left: 45px;">Menu options pour profile</h3>      
        <ol>
          <li style="padding: 5px;"><a href='{% url "edit" %}#nav' class='btn btn-secondary' style="width: 300px; height: 35px;">Modifier vos coordonnées:</a></li>
          <li style="padding: 5px;"><a href='{% url "password_change" %}#nav' class='btn btn-secondary' style="width: 300px; height: 35px;">Changer votre mot de passe</a></li>
          <li style="padding: 5px;"><a href="{% url 'contact' %}#nav" class='btn btn-secondary' style="width: 300px; height: 35px;">Nous contacter</a></li>
          <li style="padding: 5px;"><a href="{% url 'home' %}#nav" class='btn btn-secondary' style="width: 300px; height: 35px;">Retour Accueil</a></li>
          
        </ol>
      </div>
      <div class="profil">
        <div class="card w-100 mb-3">
          <div class="card-body" style="padding: 40px;">
            <h5 class="card-title">Identification</h5>
            {% for item in user_profile %}
            <p class="card-text" style="font-size: 15px;"><span style="font-weight: 600;">Identifiant: </span>{{ item.genre }} {{ user.first_name }} {{ user.last_name }}</p>
            <p class="card-text" style="font-size: 15px;"><span style="font-weight: 600;">Email: </span>{{ user.username }}</p>
            <p class="card-text" style="font-size: 15px;"><span style="font-weight: 600;">Date-naissance: </span>{{ item.date_of_birth }}</p>
            <br/>
            <h5 class="card-title">Téléphone</h5>
            <p class="card-text" style="font-size: 15px;"><span style="font-weight: 600;">Mobile: </span>{{ item.phoneNumber1 }}</p>
            {% if item.phoneNumber2 is not None %}                       
              <p class="card-text" style="font-size: 15px;"><span style="font-weight: 600;">Fixe: </span>{{ item.phoneNumber2 }}</p>
            {% endif %}
            <br/>
            <h5 class="card-title">Adresse principale</h5>
            <p class="card-text" style="font-size: 15px;"><span style="font-weight: 600;">Adresse: </span>{{ item.address_primary }}</p>
            {% if item.complement_adress_primary is not None %}
            <p class="card-text" style="font-size: 15px;"><span style="font-weight: 600;">Complement: </span>{{ item.complement_adress_primary }}</p>
            {% endif %}
            <p class="card-text" style="font-size: 15px;"><span style="font-weight: 600;">Code postal: </span>{{ item.postal_code_primary }}</p>
            <p class="card-text" style="font-size: 15px;"><span style="font-weight: 600;">Ville: </span>{{ item.city_primary }}</p>
            
            {% if item.address_secondery %}
            <h5 class="card-title">Adresse secondaire</h5>
            <p class="card-text" style="font-size: 15px;"><span style="font-weight: 600;">Adresse: </span>{{ item.address_secondery }}</p>
            <p class="card-text" style="font-size: 15px;"><span style="font-weight: 600;">Complement: </span>{{ item.complement_adress_secondary }}</p>
            <p class="card-text" style="font-size: 15px;"><span style="font-weight: 600;">Code postal: </span>{{ item.postal_code_secondery }}</p>
            <p class="card-text" style="font-size: 15px;"><span style="font-weight: 600;">Ville: </span>{{ item.city_secondery }}</p>
            {% endif %}

            {% endfor %}

          </div>
        </div>
      </div> 

      <div class="order-list" style="min-width: 350px;">
        {% if order_item is None %} 
        <div {% if not order %}class="selected"{% endif %}>
          {% if nb_order == 1 %}
            <h5><a href="{% url 'dashboard' %}#nav">Vous avez {{ nb_order }} commande</a></h5>
          {% elif nb_order > 1 %}
          <!--
            {{ p_order }} <br/>
            page précédente : {{p_order.has_previous }} <br/>
            page suivante: {{p_order.has_next}} <br/>
            page courante: {{p_order.number}} <br/>
            nombre de page: {{p_order.paginator.num_pages}} <br/>
          -->

            <nav aria-label="Page navigation example" id="box">
              <ul class="pagination pagination-sm justify-content-center">              

                {% for i in page_range %}                  
                  <li class="page-item"><a id="btn-page" class="page-link" href="{{i}}">{{i}}</a></li>          
                {% endfor %}                

              </ul>
            </nav>

            <h5> <a href="{% url 'dashboard' %}#nav">Vous avez {{ nb_order }} commandes</a></h5>
          {% else %}
            <h5>Vous n'avez pas de commande</h5>
          {% endif %}
        </div>        
        <div id="order-list" class="list" style="font-size: 15px;"
          <ul>
            {% for item in first_page %}
            <li {% if orders_id == item.id %}class="selected"{% endif %}><a href="{{ item.get_absolute_url }}#dashboard">Commande N°: {{ item.id }}</a></li>
            <ul class="order">
              <li>Date: {{ item.created }} </li>
              <li>Total commande: {{ item.total_order }} €</li>
              {% if item.paid_status == False %}
              <li>Payer: En attente de reglement</li>
              {% else %}
              <li>Payer: oui </li>
              {% endif %}
            </ul>
            {% endfor %}
          </ul>
        </div>
        {% else %}
        <div class="list" style="font-size: 15px;">
          <h5><a href="{% url 'dashboard' %}#nav">Retour toutes les commandes</a></h5>
          <ul>
            <li><h5>Commande n°: {{ orders.id }}</h5></li>
            {% for item in order_item %}
            <ul>
              <li>Produit: {{ item.product }}</li>
              <ul>
                <li>Quantité: {{ item.quantity }}</li>
                <li>Prix unit: {{ item.price }} €</li>
              </ul>              
            </ul>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
    </div>
  </div>

</div>



<script>
  
  $('#btn-page').click(function(event){
		// preventing default actions
		event.preventDefault();
		var page_no = $(this).attr('href');
		// ajax call
			$.ajax({
					type: "POST",
					// define url name
					url: "{% url 'dashboard' %}", 
					data : {    
					page_no : page_no, 
					csrfmiddlewaretoken: '{{ csrf_token }}',
				},
				// handle a successful response
				success: function (response) {
					$('#order-list').html('')
					$.each(response.results, function(i, val) {
					 //append to post
					$('#order-list').append(
                        '<li><a>' + val.id + '</a></li>'
                        '<li>' + val.created + '</li>'
                        '<li>' + val.total_order + '</li>'
                        )
				   });
				},
				error: function () {
					alert('Error Occured');
				}
			}); 
	}); 


</script>
{% endblock content %}