{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock css %}

{% block content %}
<div id="reset-mdp">
  <header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white-50">            
            <h3 class="display-4 fw-bolder" style="font-size: 20px;">
                Reset Mot de Passe ...
            </h3>
        </div>
    </div>
  </header>
  <br>
  <p>Entrer une adresse mail valide afin de recevoir un nouveau mot de passe.</p>
  <div class="group">
    <form method="post">
      <table class="info">
        <tr>
          <th>Votre Email:</th>
          <td>{{ form.email }}</td>
        </tr>
      </table>
      <div class="button">
        {% csrf_token %}
        <a href="{% url 'dashboard' %}#dashboard" class="btn btn-secondary" style="margin-right: 20px;">Annuler</a>
        <input type="submit" value="Valider" class="btn btn-secondary">
      </div>

    </form>
  </div>
</div>
{% endblock content %}