{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock css %}



{% block content %}
    <div id="pass-change">
        <header class="bg-dark py-1">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white-50">            
                    <h3 class="display-4 fw-bolder" style="font-size: 20px;">
                        Changer votre mot de passe ...
                    </h3>
                </div>
            </div>
        </header>
        <br>
        <div class="error">
            {% if form.errors %}
            <h3>
                Vos mot de passe sont incorrects. Merci de recommencer ...
            </h3>
        {% else %}
        <h3>Utiliser ce formulaire pour changer votre mot de passe ...</h3>
        
        {% endif %}
        </div>
        <div class="info-mdp">
         
            <br>
            <p>
                Votre mot de passe doit contenir au minimum 8 caractères ...<br>
                Votre mot de passe ne peut pas être un mot de passe couramment utilisé ...<br>
                Votre mot de passe ne peut pas être entièrement numérique ... <br>
                Il doit comporter des lettres et des caractères spéciaux ...<br>
            </p>
            
        </div>
        
        <div class="block">                        
            <form method="post">              
                <table class="mdp1">  
                    <tr>
                        <th>Ancien mot de passe:</th>
                        <td>{{ form.old_password }}</td>
                    </tr>                  
                    <tr>
                        <th>Nouveau mot de passe:</th>
                        <td>{{ form.new_password1 }}</td>
                    </tr>                    
                    <tr>
                        <th>Confirmation:</th>
                        <td>{{ form.new_password2 }}</td>
                    </tr>
                    {% csrf_token %}
                </table>
                <div class="valid">
                    <div class="button">
                        <a href="{% url 'dashboard' %}#nav" class="btn btn-secondary" style="margin-right: 20px; width: 150px; height: 35px;">Annuler</a>
                        <input type="submit" value="Valider" class="btn btn-secondary" style="width: 150px; height: 35px;">                    
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}