{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock css %}


{% block content %}
<div id="pass-change-done">
  <header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white-50">            
            <h3 class="display-4 fw-bolder" style="font-size: 20px;">
              Votre mot de passe a été modifier avec succes ...
            </h3>
        </div>
    </div>
  </header>
  <br><br>
  <p>Vous pouvez retourner sur votre <a href='{% url "dashboard" %}#dashboard'>compte</a>.</p>
</div>
<br><br>
{% endblock content %}