{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock css %}


{% block content %}
<div id="reset-confirm">
    <header class="bg-dark py-1">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white-50">            
                <h3 class="display-4 fw-bolder" style="font-size: 20px;">
                    Réinitialisation de votre mot de passe ...
                </h3>
            </div>
        </div>
    </header>
    <div class="group">
        <form method="POST">
            <table>
                <tr>
                    <th>Nouveau mot de passe:</th>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <th>Confirmation nouveau mot de passe:</th>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                {% csrf_token %}
            </table>
            <div class="button">
                <button type="submit" class="btn btn-secondary">Valider</button>
            </div>
        </form>
    </div>
    
</div>
{% endblock content %}