{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock css %}

{% block content %}
<div id="reset-confirm-done">
  <header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white-50">            
            <h3 class="display-4 fw-bolder" style="font-size: 20px;">
                Reset de votre mot de passe ...
            </h3>
        </div>
    </div>
  </header>
  <br>
  <div class="group">
    <p>Votre mot de passe a été modifié.</p>
    <br>
  <p>Vous pouvez vous <a href='{% url "login" %}'>connecter maintenant</a></p>
  </div>

</div>
{% endblock content %}