{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock css %}


{% block content %}
<div id="reset-done">
  <header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white-50">            
            <h3 class="display-4 fw-bolder" style="font-size: 20px;">
                Confirmation Reset Mot de Passe ...
            </h3>
        </div>
    </div>
  </header>
  <div class="info">
    <p>Nous avons envoyé un email avec les instructions pour votre mot de passe.</p>
    <p>Si vous n'avez pas reçu de mail, Merci de bien vouloir verifier,</p>
    <p>que l'adresse est bien celle avec laquelle vous vous êtes enregistré.</p>
  </div>
  
</div>
{% endblock content %}