{% extends 'base.html' %}

{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock css %}


{% block content %}

<!-- Header-->
<div id="register">
    <div class="header">
        <header class="bg-dark py-1">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white-50">
                    <h3 class="display-4 fw-bolder" style="font-size: 20px;">                            
                        Création de votre compte ...                            
                    </h3>
                </div>
            </div>
        </header>
    </div>  
    <div class="group">
        <div class="block">
            <div class="infos">
                <div class="text-center">
                <p>Merci, de bien vouloir vous enregistrer avec le formulaire ci-dessous:</p>
                </div>            
            </div>
            <center>
                    <div class="form-group" style="max-width: 60%;">
                        <form action="" method="post">
                           
                            {% csrf_token %}
    
                            {{ user_form.as_p }}
    
                            <div class="btn-group">
                              <div class="invalid">
                                <a href="{% url 'home' %}" class="btn btn-secondary" style="height: 35px; width: 100px;">Annuler</a>
                              </div>
                              <div class="valid" style="margin-left: 40px;">
                                <input class="btn btn-secondary" type="submit" value="Valider" style="height: 35px;width: 100px;">
                              </div>
                            </div>
                        </form>
                    </div>            

            </center>
            
        </div>
             
      
    </div>
    
</div>
{% endblock content %}